#pragma once

const char* ssid = "YOUR_WIFI_SSID";
const char* password = "YOUR_WIFI_PASSWORD";

const char* mqtt_server = "192.168.X.X";
const int mqtt_port = 1883;

const char* mqtt_user = "esp01";
const char* mqtt_password = "YOUR_MQTT_PASSWORD";